@model ABCruiseWedding.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="sections">
    <div class="hide-for-small-only">
        <section id="story" class="module parallax anthem" data-magellan-target="story">
        </section>
    </div>
    <section>
        @Html.Partial("_story")
    </section>
    
    <section id="wedding" data-magellan-target="wedding">
        @Html.Partial("_wedding", Model.Countdown);
        @Html.Partial("_destination")
    </section>
    
    <section id="itinerary" data-magellan-target="itinerary">
        @Html.Partial("_itinerary")
    </section>

    <section id="rsvp" data-magellan-target="rsvp">
        @Html.Partial("_rsvp")
    </section>
    <section id="registry" data-magellan-target="registry">
        @Html.Partial("_registry")
    </section>
    <section id="message-board" data-magellan-target="message-board">
        @Html.Partial("_forum")
    </section>
</div>

@section Scripts {
    <script>
        var getCountdown = 'http://' + window.location.host + '/home/GetCountdown';
        var $days = $('#countdown-days');
        var $hours = $('#countdown-hours');
        var $minutes = $('#countdown-minutes');
        var $seconds = $('#countdown-seconds');

        setInterval(function(){
            $.ajax({
                type: 'get',
                url: getCountdown
            }).done(function(data){
                $days.html(data.days);
                $hours.html(data.hours);
                $minutes.html(data.minutes);
                $seconds.html(data.seconds);
            });
        }, 1000);

        $(document).ready(function(){
            itineraryMap.initialize();
        });
    </script>
}