@model ABCruiseWedding.Models.IndexModel
@{
    ViewData["Title"] = "";
}
<div class="sections">
    <div class="hide-for-small-only">
        <section id="story" class="module parallax anthem" data-magellan-target="story">
        </section>
    </div>
    <section>
        @Html.Partial("_story")
    </section>
    
    <section id="wedding" data-magellan-target="wedding">
        @Html.Partial("_wedding", Model.Countdown);
        @Html.Partial("_destination")
    </section>
    
    <section id="itinerary" data-magellan-target="itinerary">
        @Html.Partial("_itinerary")
    </section>

    <section id="rsvp" data-magellan-target="rsvp">
        @Html.Partial("_rsvp")
    </section>
    <section id="registry" data-magellan-target="registry">
        @Html.Partial("_registry")
    </section>
    <section id="message-board" data-magellan-target="message-board">
        @Html.Partial("_forum")
    </section>
</div>

@section Scripts {
    <script>
        var getCountdown = 'https://' + window.location.host + '/home/GetCountdown';
        var $days = $('#countdown-days');
        var $hours = $('#countdown-hours');
        var $minutes = $('#countdown-minutes');
        var $seconds = $('#countdown-seconds');

        setInterval(function(){
            $.ajax({
                type: 'get',
                url: getCountdown
            }).done(function(data){
                $days.html(data.days);
                $hours.html(data.hours);
                $minutes.html(data.minutes);
                $seconds.html(data.seconds);
            });
        }, 1000);

        $(document).ready(function(){
            itineraryMap.initialize();
        });

        var mailto = function(){
            var to = "jason.poole@cruiseplanners.com";
            var subject = "AB Cruise Wedding";
            var body = "Hello Jason, \r\n\r\n I want to book my room for Andrew and Bekah's Destination wedding on Anthem of the Seas \r\n\r\n";
            
            var $form = $('#rsvp-form');

            var isReadyToBook = $form[0][1].checked;
            var isNeedMoreInfo = $form[0][2].checked;
            var name = $form[0][3].value;
            var email = $form[0][4].value;
            var phone = $form[0][5].value;
            var numberOfGuests = $form[0][6].value;
            var comments = $form[0][7].value;

            body += "Ready to book: " + isReadyToBook + " \r\n";
            body += "Needs more info: " + isNeedMoreInfo + " \r\n";
            body += "Name: " + name + "\r\n";
            body += "Email: " + email + "\r\n";
            body += "Phone: " + phone + "\r\n";
            body += "Number of guests: " + numberOfGuests + "\r\n";
            body += "Comments: " + comments;

            var encodedBody = encodeURIComponent(body);
            var uri = "mailto:" + to + "?subject=" + subject + "&body=" + encodedBody;
            window.location.href = uri;
        };
    </script>
}